$color-black: #000;
$color-primary: #34547a;
$color-secondary: #727272;
$color-white: #fff;
$color-light: #f9f9f9;
$color-light-grey: #eeeff1;

$font-size: 16px;
$font-primary: "Roboto", sans-serif;
$letter-spacing-md: 0.1em;
$line-height-sm: 1.2;
$line-height: 1.64;

$container-primary: 1110px;
$container-sm: 540px;

@use "sass:math";

$gap: 20px;
$gap-sm: math.div($gap, 2);
$gap-md: $gap * 1.5;
$gap-lg: $gap * 2;

/* брейкпоинты */
$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px
);
